node_modules
.next
.turbo
.swc
dist
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
AI/instruction.md


# .ai ディレクトリは基本すべて無視
.ai/*

# ただし .gitkeep だけは Git に含める
!.ai/.gitkeep